.main-nav {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-color);
}

.nav__brand {
    width: clamp(7rem, 10vw, 10rem);
}

.nav__brand, .nav__profile {
    margin-bottom: 1rem;
}

.nav__logo {
    width: 100%;
    cursor: pointer;
}

.nav__profile {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--text-secondary-color);
    cursor: pointer;
}



@media(min-width: 1024px) {
    .nav__brand {
        order: -2;
        margin-bottom: 0;
    }

    .nav__profile {
        margin-bottom: 0;
    }
    
    .nav__search-box {
        margin-top: 0;
    }

    .nav__search {
        order: -1;
        flex-basis: auto;
        border-top: none;
    }

    .nav__search-input {
        margin-top: 0;
        width: 30rem;
    }

    .nav__search-input:hover {
        background-color: var(--third-background-color);
    }
}